<div class="container text-center">
  <div class="container-logo">
    <img src="assets/image/logo_transparent.png" alt="Logo" class="img-fluid my-4" style="max-width: 150px;">
  </div>

  <h1 class="h6 mb-4">Nossos Links ♨️</h1>

  <div class="d-grid gap-3">
    <!-- <a href="https://www.instagram.com/usuario" target="_blank" class="btn btn-primary btn-lg">Faça seu Pedido Aqui</a> -->
    <button (click)="whatsapp()" class="btn btn-danger btn-lg">Faça seu
      Pedido</button>
    <button (click)="cardapio()" class="btn btn-danger btn-lg">Cardápio</button>
    <button (click)="pedido()" class="btn btn-danger btn-lg">Pedido</button>
  </div>

  <footer class="mt-5">
    <p class="text-light">&copy; 2020 Costela do Chefe</p>
  </footer>
</div>